ExampleGame/ExampleGame/bin/DesktopGL/AnyCPU/Debug/ExampleGame.exe
ExampleGame/ExampleGame/bin/DesktopGL/AnyCPU/Debug/ExampleGame.pdb
ExampleGame/ExampleGame/obj/Debug/ExampleGame.exe
ExampleGame/ExampleGame/obj/Debug/ExampleGame.pdb
